target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Ext JS ###

src/main/webapp/.architect
src/main/webapp/.sencha
src/main/webapp/bootstrap.css
src/main/webapp/bootstrap.js
src/main/webapp/bootstrap.json
src/main/webapp/bootstrap.jsonp
src/main/webapp/build/
src/main/webapp/classic.json
src/main/webapp/classic.jsonp
src/main/webapp/ext/
src/main/webapp/sass/
src/main/webapp/modern.json
src/main/webapp/modern.jsonp
src/main/webapp/resources/sass/.sass-cache/